{% extends "FabienEventsEngineBundle::layout.html.twig" %}


{% block title %}
Administration
{% endblock %}

{% block body %}
<div class='container'>
  <h1>Administration</h1>
  <h2>Sauvegarde des événements</h2>
  <p>Connecté en tant que {{ app.user.username }}</p>





</div>

{% endblock %}

{% block codeJs %}

{% endblock %}
