{% form_theme form 'form_fields.html.twig' %}
<div class='row'>
  <div class='col-xs-12 col-md-6'>
    {{ form.start }}

    {{ form.end }}
  </div>
  <div class='col-xs-12 col-md-6'>
    {{ form.description }}
  </div>
</div>
