/* Items events */


.flag{
  width:22px !important;
  display:inline !important;
  height:auto !important;
}

.item-cours{
  h4{
    a{
      color:$font-color-link;
    }
    margin:0;
    padding:0;
  }


  color:white;
  margin-bottom:15px;
}


.item_event{
  margin-top:10px;


  h3{
    font-size:1.3em;
  }


  color:$font-color-dark;

  a{

  }



  .item_event_small,.item_event_card{
    margin-bottom:20px;


    .content-item-small{

      height:250px;
      background-color:$background-item;
      .item-text{
          padding-top:10px;
      }
    }

    .content-item{
      height:400px;
      background-color:$background-item;
    }

    @media screen and (max-width: 500px) {
        .content-item{
          background-color:$background-item;
        height:450px !important;
      }
    }

    .image-box{
      height:170px;
    }

  }


  .item_event_medium{
    h3{
      font-size:1.5em;
    }
    .content-item{
      background-color:$background-item;
        height:430px;
      }

    .image-box{
      height:250px;
      }
  }

  .item_event_tall{
    h3{
      font-size:1.7em;
    }
    .content-item{
      background-color:$background-item;
      height:300px;
      img{
        margin-left:-15px;
      }
    }
    .image-box{
      height:300px;
    }

    @media only screen and (max-width : 480px) {
      .content-item{
        background-color:$background-item;
        height:500px;
      }
    }
  }




  .item_event_topPage{
    position: relative;


    .item-text{
      position:    absolute;
      bottom:      0px;
      color:       #fff;
      padding:     0 20px;
      width:       100%;
      background:  rgb(0, 0, 0);
      background:  rgba(0, 0, 0, 0.7);
      text-shadow: 0 1px 0 black;
    }
    a{
      color:white;
    }

    .image-box{

      height:175px;
    }
  }


  .item_event_topPageBig{
    @extend .item_event_topPage;
    .image-box{
      height:350px;
    }
  }

  .item_event_valo {

    .content-item{
        height:400px;
        background-color:$background-item;
      }

    .image-box{
      height:250px;
      }
    }




    .img-responsive {
        width: 100%;
        height: 100%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        object-fit: cover;
    }

    .flag{
      width:20px;
    }


  .item-text{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
  }


  .item-infos-location{
    margin-top:15px;
    line-height:1.4em;
  }
}

/* Fin items event */

.item-date-inscription{
  min-height:200px;
  color:$font-color-light;
  padding:15px;
  margin-bottom:20px;
  border-right: 1px dotted white;
  padding-left:20px;
  padding-right:20px;

  &:last-of-type{
    padding-right:0;
    border:none;
  }



}

/*
Country item
*/
#gridtab{
  dt{
    text-align:center;
    cursor: pointer; cursor: hand;
    &:hover{
      background:#c0c0c0;
    }

    img{
      float:none;
    }
  }
}

.btn-country{
  margin-bottom:10px;
  padding:4px;
}

.badgeCountTall .badge{
  font-size:1.3em !important;
}

/* fin country items */

.post-item{
  .blog-date-item{
    font-size:0.9em;
  }
}

/* Blogs items */
.post-item-small{

  position:relative;

  .content-item{
    background:$background-item;
    padding-bottom:15px;
    margin-bottom:25px;
  }

  h2{
    font-size:1.5em;
    font-family:$defaultFont;
  }

  .texte-resume-blog{
      bottom:      0px;
      color:       $font-color-dark;
      padding-left:30px;
  }


  .box-image{
    height:250px;
    position:relative;
    img {
      position:absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        background: -webkit-linear-gradient(left,
          rgba(0,0,0,0.9) 0%,
          rgba(0,0,0,0) 90%,
          rgba(0,0,0,0) 90%,
          rgba(0,0,0,0.9) 100%
        )
    }
  }

}


.item-first-blog{
  width:100%;
  position:relative;
  margin-bottom:25px;
  h2{
    color:white;
    font-size:2em;
    font-family:$defaultFont;
    margin-top:15%;
    text-shadow: 0 1px 0 black;
  }

  .texte-resume-blog{
      position:absolute;
      bottom:      0px;
      color:       #fff;
      padding:     0 0px;
      width:       100%;
      height:100%;
      background: -webkit-linear-gradient(left,
        rgba(0,0,0,0.9) 20%,
        rgba(0,0,0,0) 90%,
        rgba(0,0,0,0) 90%,
        rgba(0,0,0,0.9) 200%
      );

      padding-left:30px;
  }

  .box-image{
    height:350px;
    position:relative;
    img {
      position:absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        background: -webkit-linear-gradient(left,
          rgba(0,0,0,0.9) 0%,
          rgba(0,0,0,0) 90%,
          rgba(0,0,0,0) 90%,
          rgba(0,0,0,0.9) 100%
        )
    }
  }
}


.otherDate{
  padding-top:10px;
  text-align:center;
  background:$background-other-date;
  border:2px solid $border-other-date;
  color:white;
  height:80px;
  margin-right:10px;
  margin-bottom:10px;
  .otherDateDay{
    font-weight: bold;
    font-size:1.1em;
  }
}

.item-country{
  text-align:center;
  border:1px solid $border-item-country;
  background:$background-item-country;
  a{
    text-decoration:none;
  }
  &:hover{
    transition:  0.3s ease;
    background:$background-item-country-hover;
    a{
      color:white;
    }
  }
  .item-country-title{
    font-weight:bold;
  }
}


.item-video{
  h3{
    font-size:1.3em;
  }
  color:white;
  height:500px;


  .image-block{
    position:relative;
  }

  .video-link{
    background:url("../img/play.png") center no-repeat ;
    opacity:0.7;
    width:100%;
    height:100%;

    position:absolute;
    text-align:center;
    z-index:2;
    &:hover{
      opacity:1;
    }
  }
}

.item-mini-person{

  img{
    margin-left : auto;
    margin-right : auto;
  }

  &.display-normal{
    img{
      border:3px solid $couleur-secondaire;
      width: 8em !important;
      height: 8em !important;
      border-radius:4em;
      &:hover{
        width: 9em;
        height: 9em;
        border-radius:5em;
        transition: 0.2s;
      }
    }
    height:170px;
  }

  &.display-mini{
    img{
      border:3px solid $couleur-secondaire;
      width: 3em !important;
      height:3em !important;
      border-radius:2em;
      &:hover{
        width: 5em;
        height: 5em;
        border-radius:2.5em;
        transition: 0.2s;
      }
    }

    height:100px;
  }

  &.forvideo{
    height:210px;
  }

  &.fullInfosPerson{
      height:240px;
  }

    text-align : center;
}

.video_recent_badge{
  background:$couleur-secondaire;
}
